#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --bs-primary: #11346a;
  --bs-primary-rgb: 17, 52, 106;
  
  --bs-link-color: #11346a;
  --bs-link-hover-color: #0e2a54;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.btn-primary {
  background-color: #11346a !important;
  border-color: #11346a !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #0d2b57 !important; 
  border-color: #0a2347 !important;
}

.form-control:focus {
  border-color: #11346a;
  box-shadow: 0 0 0 0.25rem rgba(17, 52, 106, 0.25);
}

.bg-success {
    background-color: #11346a !important;
}

.card-header.bg-success {
    background-color: #11346a !important;
}

.form-label {
  text-align: left !important;
  display: block !important;
}

.card-body label {
  text-align: left !important;
}